@model IEnumerable<ProjetWeb.Models.Evenement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDVol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureRevisee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDVol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureRevisee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EvenementID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EvenementID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EvenementID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
