@model ProjetWeb.Models.Vol

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compagnie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compagnie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeVol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeVol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeurePrevue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeurePrevue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureRevisee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureRevisee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Revenir à la liste des vols.</a>
</div>

<br>
<br>
<h3>Événement</h3>
<div>
    <a asp-controller="Evenements" asp-action="Create" asp-route-id="@Model?.Id">Créer un nouveau Événement.</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Identifiant Vol</th>
            <th>Heure Révisée</th>
            <th>Statut</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var but in Model.Evenements)
        {
            <tr>
                <td>@but.IDVol</td>
                <td>@but.HeureRevisee</td>
                <td>@but.Statut</td>
                
            </tr>
        }
    </tbody>
</table>
