@model IEnumerable<ProjetWeb.Models.Vol>

@{
    ViewData["Title"] = "Vols";
}

<h1>Vols</h1>

<p>
    <a asp-action="Create">Créer un nouveau vol.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compagnie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodeVol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ville)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeurePrevue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureRevisee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="vols" >
@* @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Compagnie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeVol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeurePrevue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureRevisee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr> *@

    </tbody>
</table>
@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/IndexVol.js"></script>
}
